/* Style inputs with type="text", select elements and textareas */
input[type=message], input[type=email], input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=message], textarea {
  width: 100%;
  padding-top: 25px;
  padding-left: 12px;
  padding-bottom: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}

/* Navigation bar styling */

.navbar {
    background-color: #0b2033;
    padding: 20px 25px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #87CEEB;
    margin-bottom: 5px;
    border-radius: 5px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .nav-left {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    #menu-toggle:checked + .hamburger + .nav-left {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
